body {
  background-color: #0f131e;
  color: #b29b64;
}

h1{
  font-size: 5rem;
}
button {
  outline: none;
  color: #b29b64;
  border: none;
  background-color: #0f131e;
  padding: 10px;
  width: fit-content;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  border: #b29b64 0.1rem solid;
}


#menu{
  position:relative;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  width:30rem;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 5rem;
  align-items: center;
}

#menu button{
  border-radius: 10px;
  display: block;
  width: 8rem;
  margin: 1rem;
}


#canvas {
  border-radius: 5px;
  background-color: #f0f0f0;
  width: 100vw;
  display: none;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
}

#overlay #card {
  background-color: #0f131e;
  color: #b29b64;
  border: #b29b64 0.1rem solid;
  width: 500px;
  height: 190px;
  border-radius: 5px;
  display: none;
  animation: cardIn 1s forwards;
}

#overlay #card > p {
  font-size: 50px;
  margin-top: 10px;
  user-select: none;
}



@keyframes cardIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}