body {
  background-color: #0f131e;
  color: #b29b64;
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

h1{
  font-size: 5rem;
}

h2{
  font-size: 3rem;
}
button {
  outline: none;
  color: #b29b64;
  border: none;
  background-color: #0f131e;
  padding: 10px;
  width: fit-content;
  border-radius: 20px;
  border: #b29b64 0.1rem solid;
  font-size: 20px;
  cursor: pointer;
  
}


#menu{
  position:relative;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  width:30rem;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 5rem;
  align-items: center;
}

#help{
  background-color: #0f131e;
  position: relative;
  z-index: 100;
  display: none;
  flex-wrap: wrap;
  width: 30rem;
  margin: 0 auto;
  margin-top: 20rem;
  align-items: center;
  border-radius: 20px;
  border: #b29b64 0.1rem solid;
  padding: 30px;
}
#help button{
  margin: 0 auto;
}

#credits{
  background-color: #0f131e;
  position: relative;
  z-index: 100;
  display: none;
  flex-wrap: wrap;
  width: 30rem;
  margin: 0 auto;
  margin-top: 20rem;
  align-items: center;
  border-radius: 20px;
  border: #b29b64 0.1rem solid;
  padding: 30px;
}

#credits button{
  margin: 0 auto;
}
#menu button{
  border-radius: 10px;
  display: block;
  width: 10rem;
  margin: 1rem;
}

#skip{
  display: none;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
}


#bg{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top:0;
  width: 100%;
}

#bg video{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}


#canvas {
  border-radius: 5px;
  background-color: #f0f0f0;
  width: 100vw;
  display: none;
}

#intro{
  margin-top: 15%;
  width: fit-content;
  height: fit-content;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#intro p{
  width: 60%;
  font-size: 1.6rem;
  line-height: 2.5rem;
}


#trailer{
  display: none;
  flex-wrap: wrap;
  position: absolute;
  top:0;
  width: 100%;
}

#trailer video{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}


#game-lobby{
  width: 100vw;
  height: 100vh;
  display: none;
}


#overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  text-align: center;
}

#overlay #card {
  background-color: #0f131e;
  color: #b29b64;
  border: #b29b64 0.1rem solid;
  width: 500px;
  border-radius: 5px;
  display: none;
  animation: cardIn 1s forwards;
  margin: 0 auto;
}

#overlay #card > p {
  font-size: 50px;
  margin-top: 10px;
  user-select: none;
}

.hideElement{
  animation: hide 7s forwards;
}
.showElement{
  animation: show 5s forwards;
}

.hideVid{
  animation: hide 2s forwards;
}

@keyframes cardIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide{
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes show{
  0%   {opacity: 0;}
  90%  {opacity: 1;}
  100% {opacity: 1;}
}